<div class="question-main">
    <div class="question-box">
        <div class="question-header">
            <h2 class="question-header-text">QUESTION ONE -</h2>
            <p class="question-text">What is a closure used for?</p>
        </div>
        <div class="question-set">
            <div class="question-answer-wrapper">
                <input type="radio" class="question-radio-button">
                <label>This is an answer</label>
            </div>
            <div class="question-answer-wrapper">
                <input type="radio" class="question-radio-button">
                <label>This is an answer</label>
            </div>
            <div class="question-answer-wrapper">
                <input type="radio" class="question-radio-button">
                <label>This is an answer</label>
            </div>
            <div class="question-answer-wrapper">
                <input type="radio" class="question-radio-button">
                <label>This is an answer</label>
            </div>
        </div>
        <div class="question-button-set">
            <div role="button" class="question-back-button unselectable">BACK</div>
            <div role="button" class="question-next-button unselectable">NEXT QUESTION</div>
        </div>
        <div class="question-counter">QUESTION 1 OF 10</div>
    </div>
</div>